* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

header {
    height: 800px;
    background-image: url(./images/background.jpg);
    background-size: 100% 100%;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 40px;
    color: white;
    font-weight: 800;
}

.logo {
    color: white;
    font-size: 35px;
    font-weight: 800;
}

.search-box {
    background-color: white;
    display: inline-block;
    position: relative;
    top: 20px;
    left: 50px;
    width: 430px;
    box-shadow: 0 3px 3px 0 rgb(241, 214, 214);
    border-radius: 6px;
}

table {
    width: 100%;
    font-size: 30px;
}

table input {
    width: 100%;
    height: 45px;
    color: rgb(100, 98, 98);
    font-size: 15px;
    border: 1px solid rgb(230, 227, 227);
}

.search-title {
    font-size: 30px;
    font-weight: 800;
    color: rgb(75, 75, 75);
}

.search-subtitle {
    font-size: 12px;
    font-weight: 600;
}

.search-btn {
    display: grid;
    justify-content: end;
}

.search-btn button {
    background-color: #FF5A5F;
    width: 70px;
    height: 45px;
    font-size: 15px;
    font-weight: 700;
    border: 0;
    border-radius: 10%;
    color: white;
    cursor: pointer;
}


select {
    width: 100%;
    height: 40px;
    color: rgb(75, 75, 75);
}


.title {
    font-size: 25px;
    font-weight: 800;
    color: rgn(66, 66, 66);
}

.card-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-column-gap: 10px;
    font-size: 12px;
    font-weight: 600;
}

.card {
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid rgb(210, 210, 210);
    border-radius: 10px;
    box-shadow: 0 3px 3px 0 rgb(170, 170, 170);
    align-items: center;
    font-weight: 600;
}

.card1 {
    background-image: url(./images/card1.jpg);
    background-size: 100% 100%;
    height: 60px;
    width: 70px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card2 {
    background-image: url(./images/card2.jpg);
    background-size: 100% 100%;
    height: 60px;
    width: 70px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card3 {
    background-image: url(./images/card3.jpg);
    background-size: 100% 100%;
    height: 60px;
    width: 70px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

.card4 {
    background-image: url(./images/card4.jpg);
    background-size: 100% 100%;
    height: 60px;
    width: 70px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
}

section {
    margin: 30px 0;
}

.ad-img1 {
    background-image: url(./images/ad1.jpg);
    background-size: 100% 100%;
    height: 350px;
    border-radius: 20px;
}

.img-box {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-column-gap: 10px;
}

.ib1 {
    background-image: url(./images/choo1.png);
    background-size: 100% 100%;
    height: 350px;
}

.ib2 {
    background-image: url(./images/choo2.png);
    background-size: 100% 100%;
    height: 350px;
}

.ib3 {
    background-image: url(./images/choo3.png);
    background-size: 100% 100%;
    height: 350px;
}

.ib4 {
    background-image: url(./images/choo4.png);
    background-size: 100% 100%;
    height: 350px;
}

.ib5 {
    background-image: url(./images/choo5.png);
    background-size: 100% 100%;
    height: 350pxpx;
}

.ad-img2 {
    background-image: url(./images/ad2.png);
    background-size: 100% 100%;
    height: 300px;
}

.home-box {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-gap: 10px;
}

.text1 {
    font-size: 13px;
    color: gray;
}

.text2 {
    font-size: 18px;
    font-weight: 600;
    color: rgb(60, 60, 60);
}

.hi1 {
    background-image: url(./images/home1.png);
    background-size: 100% 100%;
    height: 180px;
}

.hi2 {
    background-image: url(./images/home2.png);
    background-size: 100% 100%;
    height: 180px;
}

.hi3 {
    background-image: url(./images/home3.png);
    background-size: 100% 100%;
    height: 180px;
}

.hi4 {
    background-image: url(./images/home4.png);
    background-size: 100% 100%;
    height: 180px;
}

.hi5 {
    background-image: url(./images/home5.png);
    background-size: 100% 100%;
    height: 180px;
}

.hi6 {
    background-image: url(./images/home6.png);
    background-size: 100% 100%;
    height: 180px;
}

.hi7 {
    background-image: url(./images/home7.png);
    background-size: 100% 100%;
    height: 180px;
}

.hi8 {
    background-image: url(./images/home8.png);
    background-size: 100% 100%;
    height: 180px;
}

.grade-box {
    display: flex;
}

.star {
    font-size: 12px;
    color: rgb(30, 120, 115);
    font-weight: 800;
}

.count,
.text3 {
    font-size: 12px;
}